<div id="about">
 <div class="aboutDiv">
    <h1 class="about-insideTitle"></h1>
     <div class='about-text'>
      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Mattis ullamcorper velit sed ullamcorper morbi tincidunt.</br>
        Nulla pellentesque dignissim enim sit amet venenatis. Sit amet porttitor eget dolor morbi non arcu. Urna id volutpat lacus laoreet non curabitur gravida arcu. Proin fermentum leo vel orci porta. Adipiscing enim eu turpis egestas pretium aenean.</br> 
        Felis eget nunc lobortis mattis aliquam faucibus. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Vulputate odio ut enim blandit volutpat.Nec feugiat nisl pretium fusce id velit. Mauris ultrices eros in cursus. Quis varius quam quisque id diam vel quam.</br>
        Augue ut lectus arcu bibendum. Arcu ac tortor dignissim convallis aenean et tortor at risus. 
      </p>
      <p >Et tortor at risus viverra adipiscing at in. Ultricies integer quis auctor elit. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Tristique senectus et netus et malesuada. Elementum eu facilisis sed odio.</br>
      Ornare suspendisse sed nisi lacus. Eu turpis egestas pretium aenean pharetra magna ac placerat. Non enim praesent elementum facilisis leo vel fringilla. Eget lorem dolor sed viverra ipsum nunc aliquet. Sit amet mattis vulputate enim nulla aliquet porttitor lacus. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Sed vulputate odio ut enim blandit volutpat maecenas.</br> 
      In iaculis nunc sed augue lacus. Tristique senectus et netus et. Consequat nisl vel pretium lectus quam. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. Faucibus vitae aliquet nec ullamcorper sit. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Turpis cursus in hac habitasse platea dictumst. Commodo odio aenean sed adipiscing.</br> 
      Bibendum est ultricies integer quis auctor elit sed. 
     </p>
    </div>
   </div>   
</div>