<div id="about">
 <div class="aboutDiv">
    <h1 class="about-insideTitle"></h1>
     <div class='about-text'>
      <p class="pAbout">We are a global collective of women working at the intersection of art and AI. 
        We believe that technology is both inspiration and instrument, and are engaged
        in projects that explore the creative, social and ethical implications of AI.</p>
      <p class="pAbout">Our network includes visual artists, performers, researchers, writers, coders, dancers, curators, creative technologists
        and others who in their own unique way and across many disciplines spark conversation, shift perception and shape culture.</p>
      <p class="pAbout">Diversity, inclusivity and imagination are fundamental to our work and to our community. Whether practicing 
        alone or in a group, we join together here to hold space for one another; to center underrepresented ideas and individuals;
         to share resources and provide support; to identify and discuss challenges and opportunities; and to amplify the voices of
          all women artists in the field of artificial intelligence.</p>
      <p class="pAbout">At a time when advances in AI are blurring the historic definitions of art and artists, we are dedicated to unlocking the 
        infinite possibilities of human-machine collaboration and inventing new modes of expression&mdash;using
        creativity and technology as tools to pose and probe fundamental questions, and promote greater understanding.</p>
      </div>
   </div>   
</div>