<div class='footer'>
 <h3 class="logo"><%= page %></h3>
 <a class='join-footer' href="#" target="_blank">JOIN US</a>  
</div>
<p class="designBy">Women.Art.AI is developed by a community of collaborators.</br> Website developed & designed by <a class="designBy link" href="https://shirin.works/" target="_blank">shirin anlen</a> ® 2020</p>
