<title><%= page %></title>
<title>A global collective of women working at the intersection of art and AI.</title> 
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="machine learning, women, AI, art, women+" >
<meta name="description" content="A global collective of women working at the intersection of art and AI.">
<meta name="robots" content="noodp,noydir" />
<meta name="author" content="developed by shirin anlen for Women+ Art AI collective" >

<meta property="og:title" content="Women+ Art AI" >
<meta property="og:description" content="A global collective of women working at the intersection of art and AI.">
<meta property="og:type" content="website" >
<meta property="og:url" content="https://womenart.ai/" >
<meta property="og:image" content="./images/ogImage.png">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
<link rel="manifest" href="./images/site.webmanifest">
<script defer src="./javascripts/script.js"></script>
