<title><%= page %></title>
<meta name="WOMXN ART AI" content="A global collective of womxn working at the intersection of art and AI">
<meta name="description" content="Visit the website to find more information about members and events">
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="machine learning, women, AI, art, womxn" />
<meta name="author" content="developed by shirin anlen for Womxn Art AI group" />


<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./stylesheets/style.css">

<link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
<link rel="manifest" href="./images/site.webmanifest">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://womenart.ai">
<meta property="og:Womxn Art AI" content="A global collective of womxn working at the intersection of art and AI">
<meta property="og:description" content="Visit the website to find more information about members and events">
<meta property="og:image" content="./images/metaImage.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://womenart.ai">
<meta property="twitter:Womxn Art AI" content="A global collective of womxn working at the intersection of art and AI">
<meta property="twitter:description" content="Visit the website to find more information about members and events">
<meta property="twitter:image" content="./images/metaImage.png">

<script defer src="./javascripts/script.js"></script>
