<div class="fix-nav">
<nav class="navbar">
    <div class="nav-container">
      <a class="memberLink" href="/">MEMBERS</a>
      <a class="aboutLink" href="/">ABOUT</a>
      <a class="joinLink" href="https://docs.google.com/forms/d/1gcB8yOG0JRuEt0vwqo2-xP5w03_PIu11AbIqNXi_hZ8/" target="_blank">JOIN US</a>
    </div>
    <h1 class="hero-title"><%= page %></h1>
  </nav>
</div>