
  <div class="topnav" id="myTopnav">
    <a href="#home" class="active">HOME</a>
    <a href="#news">NEWS</a>
    <a href="#members">MEMBERS</a>
    <a href="#about">ABOUT</a>
    <a href="http://kangeunsu.com/womenartai/" target="_blank">BLOG</a>
    <a href="https://docs.google.com/forms/d/1gcB8yOG0JRuEt0vwqo2-xP5w03_PIu11AbIqNXi_hZ8/" target="_blank">JOIN US</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
