
  <nav >
   <ul class="menu">
      <!-- <li class="item"><a class="link" href="#news">NEWS</a></li> -->
      <li class="item"><a class="link" href="#members">MEMBERS</a></li>
      <li class="item"><a class="link" href="#about">ABOUT</a></li>
      <li class="item"><a class="link" href="http://kangeunsu.com/womenartai/" target="_blank">BLOG</a></li>
      <li class="item"><a class="link join" href="https://docs.google.com/forms/d/1gcB8yOG0JRuEt0vwqo2-xP5w03_PIu11AbIqNXi_hZ8/" target="_blank">JOIN US</a></li>
      <a class="functionToggle" href="#" onclick="myFunction()"><li class="toggle"><span class="bars"></span></li></a>
   </ul>
  </nav>

