<div class="fix-nav">
<nav class="navbar">
    <div class="nav-container">
      <a class="navlink news" href="#news">NEWS</a>
      <a class="navlink member" href="#members">MEMBERS</a>
      <a class="navlink about" href="#about">ABOUT</a>
      <a class="navlink blog" href="http://kangeunsu.com/womenartai/" target="_blank">BLOG</a>
      <a class="navlink join" href="https://docs.google.com/forms/d/1gcB8yOG0JRuEt0vwqo2-xP5w03_PIu11AbIqNXi_hZ8/" target="_blank">JOIN US</a>
    </div>
    <h1 class="hero-title"><%= page %></h1>
  </nav>
</div>