/* color: 
red_#EB3D60
purpple: #AF70F7
turkiz:#66DDBC
redOrenge: #EB3B61
*/

body {
  margin-top: auto;
  margin-left: auto;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, "Helvetica Neue", Lato, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed; 
	background: linear-gradient(to bottom,  #EB3571, #EB3D60,  #EB3571, #EB3D60, #AF70F7,  #66DDBC);
	background-size: 100%;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2) #EB3D60 75%);
}

.fix-nav{
  display: flex;
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 2%;
  padding-left: 2%;
  font-size: 14px;
  letter-spacing: 2px;
  z-index: 1; 
}

.nav-container {
  position: absolute;
  flex-direction: row;
  position: absolute;
  float: right;
  width: 500px;
  margin-left: 62%;
}

.aboutLink {
  margin-left: 6%;
  margin-right: 6%;
  color: azure;
  text-decoration: none;
  font-weight: 600;
}

.aboutLink:hover {
  color: black;
}

.joinLink {
  margin-right: 2%;
  color: azure;
  text-decoration: none;
  font-weight: 600;
}

.joinLink:hover {
  color: black;
}

.memberLink {
  color: azure;
  text-decoration: none;
  font-weight: 600;
}

.memberLink:hover {
  color: black;
}

.hero-container {
  display: flex;
  width: 100%;
  margin-top: 43%;
  position: relative; 
}

.protfolio-container {
  width: 1100px;
  height: 500px;
  margin-top: auto;
  position: absolute;
  margin-left: 50%;
  margin-top: -22%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 5px #f3a2ad1e; 
}

.hero-title {
  display: inline-block;
  font-size: 100px;
  padding-top: 0;
  margin-left: 2%;
  color: azure;
}

.join-us {
  display: inline-block;  
  text-align: right;
  margin-top: 35%;
  margin-left: 70%;
  font-size: 82px;
  text-decoration: none;
  font-family: "Lucida Grande";
  font-weight: 800;
  color: azure;
  /* z-index: 1;   */
}

.join-us:hover {
  color: #AF70F7;
}

.madeBy-div {
  display: flex;
}

.made-by {
  font-family: Helvetica;
  font-size: 14px;
  margin-left: 18%;
  width: 200px;
  color: rgb(148, 5, 84);
  margin-top: -6%;
}

.divMembers{
  display: flex;
  justify-content: center;
}

.member-list {
  font-size: 15px;
  opacity: 0;
}

.all-members {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;  
}

.member-div {
  position: relative;
  width: 400px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
  padding-top:0;
  margin-bottom: 1%;
  margin-top: 1%;
  font-family: Helvetica;
}

.creator-img {
  height: 150px;
  margin-top: 5px;
  border-radius: 80px;
  opacity: 0.6;
  margin-left: 28%;
  border-color: #66DDBC;
  border: solid;
}

.creator-img:hover{
 opacity: 0.9;
}

.creator-name {
  text-align: center;
  font-size: 22px;
}

.bio {
  text-align: center;
  max-width: 380px;
  line-height: 1.4;
  
}

.person-footer {
  width: 300px;
  max-height: 40px;
}

.links{
margin-left: 45%;
}

.email {
  max-height: 30px;
  margin-right: 10%;
}

.email:hover {
  box-shadow: 5px 5px 30px rgb(136, 240, 210); 
}

.website{
  max-height: 30px;
  margin-right: 10%;
}

.website:hover {
  box-shadow: 5px 5px 30px rgb(136, 240, 210); 
}

.social {
  max-height: 30px;
}

.social:hover {
  box-shadow: 5px 5px 30px rgb(136, 240, 210); 
}


.aboutDiv {
  display: flex;
  justify-content: center;
}

.about-insideTitle {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #66DDBC;
  display: inline-block;
  font-size: 5px;
  padding-top: 20%;
  padding-bottom: 0;
  color: black;  
}

.about-text {
  background: rgba(255, 255, 255, 0.10);
  width: 960px;
  position: relative;
  font-size: 18px;
  color: black;;
  font-family: Helvetica;
  padding: 3%;
  margin-top: 10%;
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer {
  width: 100%;
  padding-top: 5%;
  text-align: center;
  
}

.join-footer {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5%;
}

.join-footer:hover {
  color: #EB3D60
}

.logo {
  display: inline-block;
  font-weight: 600;
  color: #EB3D60;
}

