/* color: 
red_#EB3D60
purpple: #AF70F7
turkiz:#66DDBC
redOrenge: #EB3B61
*/

body {
  margin-top: auto;
  margin-left: auto;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, "Helvetica Neue", Lato, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed; 
	background: linear-gradient(to bottom,  #EB3571, #EB3D60,  #EB3571, #EB3D60, #AF70F7,  #66DDBC);
	background-size: 100%;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2) #EB3D60 75%);
}

.fix-nav{
  display: flex;
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 2%;
  padding-left: 2%;
  font-size: 14px;
  letter-spacing: 2px;
  z-index: 1; 
}

.nav-container {
  position: absolute;
  flex-direction: row;
  position: absolute;
  float: right;
  width: 500px;
  margin-left: 62%;
}

.aboutLink {
  margin-left: 6%;
  margin-right: 6%;
  color: azure;
  text-decoration: none;
  font-weight: 600;
}

.aboutLink:hover {
  color: black;
}

.joinLink {
  margin-right: 2%;
  color: azure;
  text-decoration: none;
  font-weight: 600;
}

.joinLink:hover {
  color: black;
}

.memberLink {
  color: azure;
  text-decoration: none;
  font-weight: 600;
}

.memberLink:hover {
  color: black;
}

 .hero-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative; 
}

.protfolio-container {
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  height: calc(100vh - 300px);
  margin-top: 5%;
  box-shadow: 10px 10px 5px #f3a2ad1e; 
  overflow: hidden;
	position: relative;
} 

.protfolio-container_glitch {
  background-blend-mode: none;
  background-color: transparent;
  height: calc(100% + 5px * 2);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: calc(100% + 10px * 2);
}

.protfolio-container,
.protfolio-container_glitch {
  background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.hero-title {
  display: inline-block;
  font-size: 100px;
  padding-top: 0;
  margin-left: 2%;
  color: azure;
}

.titles {
  /* display: inline-block; */
  text-align: right;
  z-index: 1;
  position: relative;
  margin-top: -5%;
}

.join-us {
  margin-top: -5%;
  margin-right: 10%;
  display: inline-block;  
  font-size: 72px;
  text-decoration: none;
  font-family: "Lucida Grande";
  font-weight: 800;
  color: azure;
}

.join-us:hover {
  color: #AF70F7;
}

.madeBy-div {
  display: flex;
  margin-top: 4%;
}

.made-by {
  position: relative;
  font-family: Helvetica;
  font-size: 14px;
  margin-left: 18%;
  width: 250px;
  color: rgb(148, 5, 84);

}

.divMembers{
  display: flex;
  justify-content: center;
}

.member-list {
  font-size: 15px;
  padding-top: 2%;
  opacity: 0;
}

.all-members {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;  
}

.member-div {
  position: relative;
  width: 400px;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
  padding-top:0;
  margin-bottom: 1%;
  margin-top: 1%;
  font-family: Helvetica;
}

.creator-img {
  height: 150px;
  margin-top: 5px;
  border-radius: 80px;
  opacity: 0.6;
  margin-left: 28%;
  border-color: #66DDBC;
  border: solid;
}

.creator-img:hover{
 opacity: 0.9;
}

.creator-name {
  text-align: center;
  font-size: 22px;
}

.bio {
  text-align: center;
  max-width: 380px;
  line-height: 1.4;
}

.person-footer {
  width: 300px;
  max-height: 40px;
}

.links{
margin-left: 45%;
}

.email {
  max-height: 30px;
  margin-right: 10%;
}

.email:hover {
  box-shadow: 5px 5px 30px rgb(136, 240, 210); 
}

.website{
  max-height: 30px;
  margin-right: 10%;
}

.website:hover {
  box-shadow: 5px 5px 30px rgb(136, 240, 210); 
}

.social {
  max-height: 30px;
}

.social:hover {
  box-shadow: 5px 5px 30px rgb(136, 240, 210); 
}

.aboutDiv {
  display: flex;
  justify-content: center;
}

.about-insideTitle {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #66DDBC;
  display: inline-block;
  font-size: 5px;
  padding-top: 20%;
  padding-bottom: 0;
  color: black;  
}

.about-text {
  background: rgba(255, 255, 255, 0.10);
  width: 960px;
  position: relative;
  font-size: 18px;
  color: black;;
  font-family: Helvetica;
  padding: 3%;
  margin-top: 10%;
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer {
  width: 100%;
  padding-top: 5%;
  text-align: center;
}

.join-footer {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5%;
}

.join-footer:hover {
  color: #EB3D60
}

.logo {
  display: inline-block;
  font-weight: 600;
  color: #EB3D60;
}

/*glitch animation*/
.protfolio-container:hover :nth-child(n+2) {
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  .protfolio-container:hover :nth-child(2) {
    animation-name: glitch-anim-1;
  }

  .protfolio-container:hover :nth-child(3) {
    animation-name: glitch-anim-2;
  }

  .protfolio-container:hover :nth-child(4) {
    animation-name: glitch-anim-3;
  }

  .protfolio-container:hover :nth-child(5) {
    animation-name: glitch-anim-4;
    background-blend-mode: overlay;
    background-color: #af4949;
  }

  .protfolio-container:nth-child(n+2) {
    opacity: 0;
  }

  @keyframes glitch-anim-1 {
    0%, 100% { 
      opacity: 1;
      transform: translate3d(40px, 0, 0) scale3d(-1, -1, 1);
      clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
    
    20% {
      clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    
    30% {
      clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
    
    40% {
      clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
    
    50% {
      clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    
    55% {
      clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    
    60% {
      clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
  
    65% {
  
      clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
  
    70% {
  
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
  
    80% {
      clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
  
    85% {
      clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
    }
  
    95% {
      clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
    }
  }

  @keyframes glitch-anim-2 {
    0%, 100% { 
      opacity: 1;
      transform: translate3d(-10px, 0, 0);
      clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    }
    
    10% {
      clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    
    15% {
      clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    }
    
    17% {
      clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    
    19% {
      clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }
    
    33% {
      clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    }
    
    35% {
      clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    
    40% {
      clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    }
    
    45% {
      clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    }
    
    49% {
      clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    }
    
    50% {
      clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    }
    
    55% {
      clip-path: polygon(0 15%, 100% 15%, 100% 35%, 0 35%);
    }
    
    60% {
      clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    
    70% {
      clip-path: polygon(0 65%, 100% 65%, 100% 60%, 0 60%);
    }
    
    80% {
      clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%);
    }
    
    90% {
      clip-path: polygon(0 55%, 100% 55%, 100% 65%, 0 65%);
    }
  }
  
  @keyframes glitch-anim-3 {
    0%, 100% {
      opacity: 1;
      transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
      clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }
    
    5% {
      clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }
    
    11% {
      clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }
    
    20% {
      clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    
    25% {
      clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }
    
    35% {
      clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }
    
    42% {
      clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }
    
    48% {
      clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }
    
    50% {
      clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    
    56% {
      clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }
    
    61% {
      clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }
    
    68% {
      clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }
    
    72% {
      clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }
    
    77% {
      clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }
    
    81% {
      clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }
    
    86% {
      clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }
    
    90% {
      clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    
    92% {
      clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }
    
    94% {
      clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }
  }
  
  @keyframes glitch-anim-4 {
    0%, 5% { 
      opacity: 0.2; 
      transform: translate3d(10px, 5px, 0);
    }
  
    5.5%, 100% {
      opacity: 0;
      transform: translate3d(0, 0, 0);
    }
  }

/*media query*/

  @media (max-width: 1500px) {
  .navbar {
    padding-top: 3%;
    font-size: 12px;
  }

  .nav-container {
    margin-left: 60%;
  }

  .protfolio-container {
    height: calc(100vh - 350px);
    margin-top: 7%;
  }

   .hero-title {
    font-size: 72px;
    margin-top: 10%;
  }
  
   .titles {
    margin-top: -8%;
  }
  
   .join-us { 
    font-size: 48px;
  }

  .madeBy-div {
    margin-top: 6%;
  }

  .made-by {
    font-size: 10px;
  }

  .about-text {
    margin-top: 5%;
  }
}

@media (max-width: 1110px) {
  .navbar {
    padding-top: 3%;
    font-size: 10px;
  }

  .nav-container {
    margin-left: 57%;
  }

  .protfolio-container {
    height: calc(100vh - 550px);
    margin-top: 7%;
  }

   .hero-title {
    font-size: 68px;
    margin-top: 10%;
  }
  
   .join-us { 
    font-size: 42px;
  }

  .member-div {
    margin-top: 3%;
    width: 280px;
    margin-left: 3%;
  }

  .creator-img {
    height: 120px;
    margin-left: 28%;
  }

  .creator-name {
    font-size: 18px;
  }

  .bio {
    font-size: 12px;
    max-width: 280px;
  }

  .person-footer {
    width: 250px;
    margin-left: -15%;
  }

  .about-text {
    margin-top: 4%;
    width: 500px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 4%;
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  .nav-container {
    margin-left: 57%;
  }

  /* .protfolio-container {
    height: calc(100vh - 550px);
    margin-top: 10%;
  } */

  .titles {
    margin-top: -12%;
  }

  .hero-title {
    font-size: 48px;
    margin-top: 11%;
  }
  
  .join-us { 
    font-size: 32px;
  }

  .madeBy-div {
    margin-top: 8%;
  }


  .creator-img {
    height: 100px;
    margin-left: 33%;
  }

  .creator-name {
    font-size: 16px;
  }
  
  .person-footer {
    width: 250px;
    margin-left: -15%;
  }

  .about-text {
    margin-top: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .nav-container {
    margin-left: 0;
  }

  .navbar {
    font-size: 8px;
    letter-spacing: 0;
   }

  .protfolio-container {
    height: calc(100vh - 500px);
    margin-top: 10%;
  }

  .titles {
    margin-top: -10%;
  }

  .hero-title {
    font-size: 28px;
    margin-top: 18%;
  }
  
  .join-us { 
    display: none;
  }

  .madeBy-div {
    margin-top: 8%;
  }

  .creator-img {
    height: 80px;
    margin-left: 33%;
  }

  .creator-name {
    font-size: 16px;
  }
  
  .person-footer {
    width: 250px;
    margin-left: -15%;
  }

  .about-text {
    margin-top: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 8%;
    font-size: 12px;
  }

  .footer {
    font-size: 10px;
  }

  .join-footer {
    font-size: 10px;
  }
}

/* @media (max-width: 500px) {
  .navbar {
   font-size: 8px;
   letter-spacing: 0;
  }
  
  .nav-container {
    margin-left: 30%;
  }

  .protfolio-container {
    height: calc(100vh - 450px);
  }
} */

  